<launch>
    <node pkg="lidar_rotation" type="int16_to_servo_pos" name="int16_to_servo_pos" output="screen" />
    <node pkg="lidar_rotation" type="nav_robot_LIDAR_tf_broadcaster" name="nav_robot_LIDAR_tf_broadcaster" output="screen" />
    <node pkg="lidar_rotation" type="pointCloud_transformer" name="pointCloud_transformer" output="screen" />

</launch>